[Unit]
Description=Electrumx
After=network.target

[Service]
EnvironmentFile=/etc/electrumxqtum.conf
ExecStart=/usr/local/bin/electrumxqtum_server
User=electrumxqtum
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
